*{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Lato', sans-serif;
}

a{
	text-decoration: none;
}

header{
	width: 100%;
	display: flex;
	position: fixed;
}

.container {
	padding: 0 210px 0 210px;
	width: 100%;
}

.header_logo{
	float: left;
}

nav{
	margin-top: 43px;
}

.topnav{
	float: right;
	padding-right: 0;
}

.topnav a{
	color: #fff;
	text-align: center;
	padding-left: 28px;
	font-size: 13px;
}

.topnav a:hover{
	border-bottom: 3px solid orange;
}

main{
	display: flex;
	/*flex-direction: column;*/
	width: 100%;
	text-align: center;
	background-image: url(img/main_image.png);
	background-size: cover;
}

.recipes{
	color: #fff;
	padding-top: 328px;
	width: 100%;
	padding-bottom: 220px;
}

.fav{
	font-style: italic;
	letter-spacing: 2px;
	font-size: 30px;
	font-family: 'Times new roman', sans-serif;
	font-weight: 550;
	padding-left: 25px;
	opacity: 0.8;
}
.rec{
	padding-top: 3px;
	font-size: 90px;
	letter-spacing: 9px;
}

.getstarted{
	color: #fff;
	border-color: #fff;
	border-style: solid;
	background-color: transparent;
	padding: 22px 74px;
	border-radius: 3px;
	border-width: 3px;
	font-size: 15px;
	font-weight: 550;
	letter-spacing: 1px;
}

.gs{
	padding-top: 23px;
}

p{
	padding-top: 35px;
	font-size: 11px;
	letter-spacing: 2px;
	font-weight: 500;
}

.getrewarded{
	text-decoration: underline;
	font-weight: 700;
}

#get_action{
	width: 100%;
	background: #fff;
	text-align: center;
	padding: 100px 0 100px 0;
	color: #000;
	display: flex;
}

.get_action{
	display: flex;
}

.get_action h3{
	height: 14px;
}

.get_action p{
	width: 360px;
}

.get_photo{
	width: 20px;
	margin: 0 128px 20px 128px;
}

.get{
	padding-right: 5px;
}

#iphone{
	background: #f7f7f7;
	width: 100%;
	display: flex;
}

.wrapper{
	display: flex;
	padding-top: 109px;
}

.col1{
	width: 520px;
}

.col2{
	width: 540px;
	padding-top: 85px;
}

.col2 p{
	font-size: 12px;
	font-weight: 500;
	width: 530px;
}

.line{
	width: 90px;
	background: #f57365;
	height: 1px;
}

.para1{
	padding: 20px 0 0;
}

.iphone{
	width: 450px;
}

.shops{
	padding-top: 35px;
	display: flex;
}

.appst{
	padding-right: 10px;
}

@media (max-width: 850px) {
	.topnav a{
		display: none;
	}

	nav{
		width: 100%;
	}

	.topnav a.icon{
		display: block;
		font-size: 20px;
		/*margin-top: -17px;*/
		float: right;
	}

	.topnav.responsive{
		position: relative;
		/*top: 10px;*/
		/*left: -50px; */
	}

	.topnav.responsive a.icon{
		position: absolute;
		top: 0px;
		right: -100px;
	}

	.topnav.responsive a{
		float: none;
		display: block;
		text-align: left;
	}
}