*{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Lato', sans-serif;
}

a{
	text-decoration: none;
}

header{
	width: 100%;
	display: flex;
	position: fixed;
}

.container {
	padding: 0 210px 0 210px;
	width: 100%;
}

.header_logo{
	float: left;
}

nav{
	margin-top: 43px;
}

.topnav{
	float: right;
	padding-right: 0;
}

.topnav a{
	color: #fff;
	text-align: center;
	padding-left: 28px;
	font-size: 13px;
}

main{
	display: flex;
	/*flex-direction: column;*/
	width: 100%;
	text-align: center;
	background-image: url(img/main_image.png);
	background-size: cover;
}

.recipes{
	color: #fff;
	padding-top: 328px;
	width: 100%;
	padding-bottom: 250px;
}

.fav{
	font-style: italic;
	letter-spacing: 2px;
	font-size: 30px;
	font-family: 'Times new roman', sans-serif;
	font-weight: 550;
	padding-left: 25px;
	opacity: 0.8;
}
.rec{
	padding-top: 3px;
	font-size: 90px;
	letter-spacing: 9px;
}

.getstarted{
	color: #fff;
	border-color: #fff;
	border-style: solid;
	background-color: transparent;
	padding: 22px 74px;
	border-radius: 3px;
	border-width: 3px;
	font-size: 15px;
	font-weight: 550;
	letter-spacing: 1px;
}

.gs{
	padding-top: 23px;
}

p{
	padding-top: 35px;
	font-size: 11px;
	letter-spacing: 2px;
	font-weight: 500;
}

.getrewarded{
	text-decoration: underline;
	font-weight: 700;
}